@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
  font-family: 'Hanna', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

 a {
  color: #000;
  text-decoration: none;
}

.site-header {
  padding: 30px;
  border-bottom: solid 1px #ccc;

}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: block;
  width: 80px;
}

.language-select {
  display: block;
  width: 80px;
  text-align: right;
  font-size: 12px;
}

.menu {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.menu-item {
  margin: 0 15px;
  text-transform: lowercase;
}

.hero {
  padding-top: 160px;
  padding-bottom: 220px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url('../assets/intro-bg.svg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

.magenta {
  color: #FF0066;
}

.lowercase {
  text-transform: lowercase;
}

.intro-description p {
  margin: 0;
}

.hero-description {
  margin: 0;
  position: absolute;
  bottom: 48px;
  left: 0;
  width: 100%;
  text-align: center;
}

.hero-text {
  font-size: 100px;
  line-height: 1;
  color: black;
  text-align: center;
  margin: 0;
}

.intro {
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 310px;
  padding-bottom: 250px;
}

.intro-inner {
  max-width: 960px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  /* street food that was: */
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.20);
}

.intro-title {
  font-size: 20px;
  border-bottom: 3px solid #fff;
  padding-bottom: 1px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 48px;
}

.intro-description {
  font-size: 50px;
  margin: 0;
  line-height: 1;
}

.yellow {
 color: #F8E713;
}

.entry-header {
  padding: 12px 20px;
  background-color: #FF0066;
  display: flex;
  justify-content: space-between;
}

.entry-price,
.entry-title {
  font-size: 16px;
  color: #fff;
  line-height: 1;
  position: relative;
  z-index: 2;
}

.entry-title {
  text-transform: lowercase;
}

.post {
  position: relative;
}

.entry-number {
  background-color: #FFF;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: solid  #FF0066 10px;
  text-align: center;
  line-height: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  z-index: 1;
}

.wp-post-image {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
  display: block;
}

.post-thumbnail {
  display: block;
  pointer-events: none;
}

.section-heading {
  font-size: 20px;
  padding: 50px 0;
  border-bottom: solid 1px #ccc;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 50px;
}

.location-description h3 {
  font-size: 12px;
  margin: 0;
}

.location-description p {
  font-size: 10px;
  margin: 0;
}

.location {
  margin: 50px auto;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-description {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

/* here we create a box that has 1.3x1 box using padding-bottom trick (also know as and aspect ratio box)  */
.map-inner {
  position: relative;
  padding-bottom: 75%;
}

.map-inner iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.site-footer {
  padding: 50px 30px 20px 30px;
  border-top: solid 1px #ccc;
  font-size: 12px;
  font-family: sans-serif;
}

.footer-social {
  display: flex;
}

.social-link,
.social-link img {
  display: block;
}

.social-link {
  margin-left: 5px;
}

.site-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
  .entry-number {
    width: 60px;
    height: 60px;
    line-height: 4;
    border-width: 15px;
  }

  .intro {
    padding-top: 105px;
    padding-bottom: 125px;
  }

  .intro-title,
  .intro-description {
    font-size: 4vw;
  }

}

@media (max-width: 680px) {
  .site-header {
    padding: 20px;
  }

  .logo,
  .language-select {
    width: 50px;
  }

  .menu-item {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }

  .menu-item span {
    display: none;
  }

  .hero {
    padding-top: 70px;
    padding-bottom: 140px;
  }

  .hero-text {
    font-size: 90px;
  }

  .intro {
    padding-top: 85px;
    padding-bottom: 105px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .intro-title {
    font-size: 24px;
    margin-bottom: 36px;
  }
  
  .intro-description p {
    font-size: 24px;
  }

}

@media (max-width: 480px) {
    .hero {
      padding-top: 40px;
      padding-bottom: 100px;
    }
  
    .hero-text {
      font-size: 60px;
    }
  
}
  